extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  if !role.permissions.includes("account_edit")
    h1 Bạn chưa được cấp quyền chỉnh sửa tài khoản, vui lòng liên hệ quản trị viên
    return
  //- Hiển thị thông báo nếu có (ví dụ: tạo tài khoản thành công)
  +alert-success(3000)
  +alert-error(5000)

  h1(class="mb-4") Cập nhập tài khoản

  //- Bắt đầu form. Chú ý enctype="multipart/form-data" là bắt buộc để upload file
  form(
    action=`${prefixAdmin}/accounts/edit/${account._id}?_method=PATCH`
    method="POST"
    enctype="multipart/form-data"
  )
    //- Họ tên
    div(class="form-group")
      label(for="fullName") Họ tên
      input(
        type="text"
        class="form-control"
        id="fullName"
        name="fullname"
        value=account.fullname
        required
      )

    //- Email
    div(class="form-group")
      label(for="email") Email
      input(
        type="email"
        class="form-control"
        id="email"
        name="email"
        value=account.email
        required
      )

    //- Mật khẩu
    div(class="form-group")
      label(for="password")  Mật khẩu (Để trống nếu không muốn thay đổi)
      input(
        type="password"
        class="form-control"
        id="password"
        name="password"
      )

    //- Số điện thoại
    div(class="form-group")
      label(for="phone")  Số điện thoại
      input(
        type="text"
        class="form-control"
        id="phone"
        value=account.phone
        name="phone"
      )

    //- Avatar
    div(class="form-group")
      label(for="avatar") Avatar
      input(
        type="file"
        class="form-control-file"
        id="avatar"
        name="avatar"
        accept="image/*"
        src=account.avatar
      )

    //- Phân quyền (Dropdown)
    div(class="form-group")
      label(for="role_id") Phân quyền
      select(
        name="role_id"
        id="role_id"
        class="form-control"
        required
      )
    
        option(value=account.role.title  selected disabled) #{account.role.title}
        //- Giả sử bạn có một biến 'roles' được truyền từ controller
        each role in roles
            if(role.title !== account.role.title)
             option(value=role._id) #{role.title}

    //- Trạng thái (Radio button)
    div(class="form-group")
      label Hoạt động
      input(
        type="radio"
        name="status"
        id="statusActive"
        value="active"
        checked
        class="ml-2"
      )
      label(class="ml-4") Dừng hoạt động
      input(
        type="radio"
        name="status"
        id="statusInactive"
        value="inactive"
        class="ml-2"
      )

    //- Nút submit
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Câp nhật