extends ../../layouts/default.pug
include ../../mixins/alert.pug


block main
    if role.permissions.includes("roles_create")
        +alert-success("2000")
        .container.mt-4
            h2.mb-4 Tạo mới danh mục sản phẩm
            form(
                action=`${prefixAdmin}/role/create` 
                method="POST" 
            )
                // Tiêu đề
                .form-group
                    label(for="title") Tiêu đề
                    input#title.form-control(
                        type="text" 
                        name="title" 
                        placeholder="Nhập tiêu đề danh mục"
                        required
                    )
                .form-group
                    label(for="description") Mô tả
                    input#description.form-control(
                        type="text" 
                        name="description" 
                        placeholder="Nhập mô tả phân quyền"
                    )
                .form-group
                    button.btn.btn-primary(type="submit") Tạo
    else 
        h1 Bạn chưa được cấp quyền thêm vai trò, vui lòng liên hệ quản trị viên