extends ../../layouts/default.pug
include ../../mixins/fillerStatus.pug
include ../../mixins/search.pug

block main
  .container.mt-4
    h2.mb-4 Danh sách sản phẩm

    // Bộ lọc và Tìm kiếm
    .mb-3
      +search(keyword)

    +fillerStatus(fillterStatus)

    // Bảng danh sách sản phẩm
    table.table.table-bordered.table-striped
      thead
        tr
          th STT
          th Hình ảnh
          th Tiêu đề
          th Giá
          th Trạng thái
          th Hành động
      tbody
        each item, index in products
          tr
            td #{index + 1}
            td
              img(src=item.thumbnail, alt="Sản phẩm", width="100", height="auto")
            td #{item.title}
            td #{item.price}$
            td
              if item.status == 'Hoạt động'
                span.badge.badge-success #{item.status}
              else
                span.badge.badge-secondary #{item.status}
            td
              button.btn.btn-warning.btn-sm Sửa
              button.btn.btn-danger.btn-sm.ml-1 Xoá

    // Pagination
    
    
    div #{pagination.totalPages}
    nav
      ul.pagination
        li.page-item
          button.page-link Trang trước
        li.page-item
          button.page-link 1
        li.page-item.active
          button.page-link 2
        li.page-item
          button.page-link 3
        li.page-item
          button.page-link Kế tiếp
